<div class= "tab_body" >
  <div class = "contentContainer">
    <h2 id= "homeMoto"> Tutoring for Students, by Students </h2> 
    <% if @notice %>
      <div class="flash_success"> <%= @notice %> </div>
    <% end %>
    <div class = "homeTopWrapper"> 
    <div class = "homeTopContainer">
      <div> 
        <%= image_tag("tutor.jpg", :alt => "rss feed", :class => "home_pic") %>
        <% if @rec %>
          <h2 class= "homeTopContainerh2" ><span id= "rec_quote"><%= @rec.quote %></span></br><span id= "span_author"><%= @rec.author %></span></h2>
        <% end %>
      </div>
    </div>
    </div> 
    <div id = "homeBottomContainer"> 
      <section id = "section_solve">
        <h3> Our Mission </h3>
        <h2> All About You </h2> 
        <p>  
        To provide all students with interactive, personalized tutoring that creates lasting study habits and develops learning skills 
        </p> 
        <a class= "button" href= <%= about_path %> >Learn More</a>
      </section> 
      <section id = "section_who"> 
       <h3> Who Are We? </h3> 
       <h2> Experienced Tutors </h2> 
       <p>  
       A blend of high school and college level tutors ready to meet your student's every academic need  
       </p> 
       <a class= "button" href= <%= tutor_path %> >Our Staff</a>
      </section>
      <section id = "section_quote">   
        <h3> Pricing </h3>
        <h2> Get A Quote </h2> 
        <p>  
        ziptutoring4u@gmail.com
      </section> 
    </div> 
  </div>
  <div class= "footer"> 
    <div class= "footerCenter"> 
      <p> 
        <a href= <%= home_path %> >Home</a> | 
        <a href= <%= about_path %> >About</a>  | 
        <a href= <%= tutor_path %> >Tutors</a>  |
        <a href= <%= recommendation_path %> >Recommendations</a>  
      </p> 
      <p> 
        Email <%= @bio.title %> at <%= @bio.contact %>
      </p> 
    </div> 
</div>
<div/>
