<div class= "tab_body" >
  <div class = "contentContainer">
    <h2 id= "homeMoto"> Tutoring for students by students </h2> 
    <div class = "homeTopWrapper"> 
    <div class = "homeTopContainer"> 
      <div> 
        <%= image_tag("tutor.jpg", :alt => "rss feed", :class => "home_pic") %>
        <h2 class= "homeTopContainerh2" ><span id= "rec_quote"><%= @rec.quote %></span></br><span id= "span_author"><%= @rec.author %></span></h2>
      </div>
    </div>
    </div> 
    <div id = "homeBottomContainer"> 
      <section id = "section_solve">
        <h3> Our Mission </h3>
        <h2> Better Tutoring Now </h2> 
        <p>  
        Students who have are in the same shoes as their clients. 
        </p> 
        <a class= "button" href= <%= about_path %> >Learn More</a>
      </section> 
      <section id = "section_who"> 
       <h3> Who Are We? </h3> 
       <h2> ZipTutoring Of Course! </h2> 
       <p>  
       A Mix of High school students and Junior College students trying to raise money to fund their tuitions at the same time helping other students reach their academic goals.  
       </p> 
       <a class= "button" href= <%= tutor_path %> >Our Staff</a>
      </section>
      <section id = "section_quote">   
        <h3> Pricing </h3>
        <h2> Get A Quote </h2> 
        <p>  
        Call 1-ZIP-TUT-RING and tell us what subject and how often you will like to be tutored. 
        </p> 
        <a class= "button" href= <%= tutor_path %> >Quote</a>
      </section> 
    </div> 
  </div>
  <div class= "footer"> 
    <div class= "footerCenter"> 
      <p> 
        <a href= <%= home_path %> >Home</a> | 
        <a href= <%= about_path %> >About</a>  | 
        <a href= <%= tutor_path %> >Tutors</a>  |
        <a href= <%= recommendation_path %> >Recommendations</a>  
      </p> 
      <p> 
        Email <%= @bio.title %> at <%= @bio.contact %>
      </p> 
    </div> 
</div>
<div/>
