<!DOCTYPE html>
<html>
<head>
  <title>ZipTutoring</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag("cat.png", :alt => "rss feed", :height => "50", :width => "50") %>
ZIP TUTORING
<%= button_to "Login", login_path%>
<%= tabs %> 
<%= subtabs %>
<%= yield %>
</body>
</html>
